// COLORS
$variable-clr-cyan-400: hsl(178, 100%, 50%);
$variable-clr-cyan-400-opacity-54: hsla(178, 100%, 50%, 0.503);

$variable-clr-blue-500: hsl(215, 51%, 70%);
$variable-clr-blue-900: hsl(216, 50%, 16%); // card BG
$variable-clr-blue-800: hsl(215, 32%, 27%); // line
$variable-clr-blue-950: hsl(217, 54%, 11%); // main BG

$variable-clr-white: hsl(0, 0%, 100%);

// FONT
$variable-default-font-size: 1.8rem;

$variable-ff: "Outfit", sans-serif;

$variable-fw-thin: 100;
$variable-fw-extralight: 200;
$variable-fw-light: 300;
$variable-fw-normal: 400;
$variable-fw-medium: 500;
$variable-fw-semibold: 600;
$variable-fw-bold: 700;
$variable-fw-extrabold: 800;
$variable-fw-black: 900;
