@use "../abstracts/variables" as *;

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 3.3rem;
  aspect-ratio: 1 / 1;
  border: 1px solid $variable-clr-white;
  border-radius: 50%;  
}